// == filters ======================

// --- #ffffff ---
//    filter: invert(100%) sepia(3%) saturate(14%) hue-rotate(129deg) brightness(104%) contrast(100%);

// --- #595959 ---
//     filter: invert(34%) sepia(0%) saturate(372%) hue-rotate(193deg) brightness(93%) contrast(84%);


// == #1C1C1C ---
//     filter: invert(0%) sepia(24%) saturate(1089%) hue-rotate(353deg) brightness(85%) contrast(78%);

body {
  background-color: $gray-1C1C1C;
	color: $mainColor;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 3px;
  }
}
html.dark body {
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  background-color: $gray-1C1C1C;
	color: $mainColor;
}
html.light body {
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	background-color: $light-EE;
	color: $gray-1C1C1C;
}

[class*="__container"] {
    width: 100%;
    margin-inline: auto;
    padding-inline: toRem(15);
    @include adaptiveValue("max-width", 1780, 1255,0,1920.98,1440.98);
  }

  .ibg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &--top {
      object-position: top;
    }
    &--bottom {
      object-position: bottom;
    }
    &--left {
      object-position: left;
    }
    &--right {
      object-position: right;
    }
    &--contain {
      object-fit: contain;
    }
  }
  
  // Шаблони (заготівлі)
  // @extend %ім'я шаблону;
  // Сніппет (SCSS): ex
  
  // Лічильник для списку
  %listCounter {
    list-style-type: none;
    counter-reset: item;
    li {
      position: relative;
      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  // Адаптивне відео
  %responsiveVideo {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    video,
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  // Відео як фон
  %videoBackground {
    video,
    iframe,
    object,
    embed {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
    }
  }
  // Сірий фільтр
  %grayfilter {
    transition: all 0.3s ease 0s;
    filter: grayscale(1);
    @media (any-hover: hover) {
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  // Скасувати виділення
  %noselect {
    user-select: none;
  }
  // Дзеркальне відображення
  %mirror {
    transform: scale(-1, 1);
  }
  // Плавний скролл
  %smoothscroll {
    -webkit-overflow-scrolling: touch;
  }
  // Сховати скролл
  %hidescroll {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  

// == COLOR ================
%colorThemeFFF-1C1C {
  .dark & {
    color: #fff;
  }
  .light & {
    color: $gray-1C1C1C;
  }
}
%colorThemeB8-1C1C {
  .dark & {
    color: $mainColor;
  }
  .light & {
    color: $gray-1C1C1C;
  }
}
%colorThemeFFF-5959 {
  .dark & {
    color: #fff;
  }
  .light & {
    color: $gray-59;
  }
}
%colorTheme5959-1C1C {
  .dark & {
    color: $gray-59;
  }
  .light & {
    color: $gray-1C1C1C;
  }
}

// == BORDER COLOR ====================
%borderColor-FFF-1C1C {
  .dark & {
    border-color: #fff;
  }
  .light & {
    border-color: $gray-1C1C1C;
  }
}
%borderColor-FFF-B8 {
  .dark & {
    border-color: #fff;
  }
  .light & {
    border-color: $mainColor;
  }
}
%borderColor-FFF-1C1C-075 {
  .dark & {
    border-color: rgba(255, 255, 255, 0.75);
  }
  .light & {
    border-color: rgb(28, 28, 28, 0.75);
  }
}
%borderColor-RED-B8 {
  .dark & {
    border-color: $red;
  }
  .light & {
    border-color: $mainColor;
  }
}


// == BACKGROUND COLOR =====================
%backgroundColor-FFF-1C1C {
  .dark & {
    background-color: #fff;
  }
  .light & {
    background-color: $gray-1C1C1C;
  }
}
%backgroundColor-1C1C-EE {
  .dark & {
    background-color: $gray-1C1C1C;
  }
  .light & {
    background-color: $light-EE;
  }
}
%backgroundColor-1C1C-B8 {
  .dark & {
    background-color: $gray-1C1C1C;
  }
  .light & {
    background-color: $mainColor;
  }
}
%backgroundColor-43-B8 {
  .dark & {
    background-color: $gray-434343;
  }
  .light & {
    background-color: $mainColor;
  }
}
%backgroundColor-43-1C {
  .dark & {
    background-color: $gray-434343;
  }
  .light & {
    background-color: $gray-1C1C1C;
  }
}

%backgroundColor-43-B8-075 {
  .dark & {
    background-color: rgb(67, 67, 67, 0.75);
  }
  .light & {
    background-color: rgb(184, 184, 184, 0.75);
  }
}


%hoverUnderline {
  position: relative;
  &::before {
    content:'';
    position: absolute;
    bottom: toRem(-4);
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: toRem(2);
    transition: width .45s ease;
    .dark & {
      background-color: #fff;
    }
    .light & {
      background-color: $gray-1C1C1C;
    }
  }
  @media (any-hover: hover){
    &:hover{
      &::before {
        width: 100%;
      }
    }
  }
}

%transionColor {
  transition: color .3s ease;
}

%animOpacity {
  opacity: 0;
  ._watcher-view & {
    opacity: 1;
    transition: opacity 1.3s ease;
  } 
}

%borderRadius15-10 {
  @include adaptiveValue("border-radius", 15, 10,0,1920.98,480.98);
}

%notLastMb-22-10 {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 22, 10,0,1920.98,480.98);
  }
}


%titleCommon {
  color: #FFF;
  font-family: "Benzin";
  font-style: normal;
  font-weight: 600;
  line-height: 1.13;
  text-transform: uppercase;
  position: relative;
  @include adaptiveValue("font-size", 48,33,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 33,26,3,1440.98,480.98);
  @media (max-width: toEm(375.98)){
      font-size: toRem(22) !important;
  }
}

%margB-75-40 {
  @include adaptiveValue("margin-bottom", 75, 40);
}

.title-hero {
  @extend %titleCommon;
  @extend %colorThemeFFF-1C1C;
  @extend %transionColor;
  @extend %margB-75-40;
  .clr-red {
    color: $red;
  }
  &.split-words {
    .word {
      overflow: hidden;
    }
    .word-span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform .8s cubic-bezier(.22,.89,.34,.96);
      .loaded & {
        transform: translateY(0);
        transition-delay: calc(0.15s + var(--index) * .03s);
      }
    }
  }
}

.title-second {
  @extend %titleCommon;
  @extend %margB-75-40;
  // .title-second__wrapper
  &__wrapper {
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s  cubic-bezier(.2,1.11,.39,1.01) 0s;
    background-attachment: scroll; 

    .dark & {
      -webkit-text-fill-color: rgba(250, 250, 250, 0.08);
      background-image: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(227,30,36,1) 68%);
    }
    .light & {
      -webkit-text-fill-color: rgb(0, 0, 0, 0.08);
      background-image: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(227,30,36,1) 68%);
    }
  }
}

.txt-big {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.12px;
  @include adaptiveValue("font-size", 32, 18);
  span {
    font-weight: 700;
  }
}
.txt-sm {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
  @include adaptiveValue("font-size", 20, 14);
}

.txt-72 {
  font-weight: 600;
  font-family: "Benzin";
  line-height: 1.2;
  @include adaptiveValue("font-size", 72, 30);
}

.txt-norm {
  line-height: 1.2;
  @include adaptiveValue("font-size", 22, 14);
}

.txt-red {
  color: $red !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.btn {
  position: relative;
  overflow: hidden;

  width: fit-content;

  border-radius: 56px;
  border: toRem(1) solid $red;
  background: #FFF;
  box-shadow: -3px 4px 0px 0px $red inset;
  
  text-align: center;
  display: grid;
  place-items: center;
  
  color: #1C1C1C;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  
  transition: color .3s ease;
  @include adaptiveValue("font-size", 20, 14);
 
  @include adaptiveValue("padding-top", 30, 22);
  @include adaptiveValue("padding-bottom", 30, 22);
  @include adaptiveValue("padding-inline", 43, 20);
  span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: -20%;
    height: 100%;
    width: 0%;
    background-color: $red;
    opacity: .9;
    transition: width .45s ease;
    border-radius: 56px;
  }
  &:hover {
    color: white;
    &::before {
      width: 120%;
    }
  }

}


.padding-section {
  @include adaptiveValue("padding-top", 100, 60);
  @include adaptiveValue("padding-bottom", 100, 60);
}


.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
}

%animWatcherSplitSpan {
  &.split-words {
    .word {
      overflow: hidden;
    }
    .word-span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform 1s cubic-bezier(.22,.89,.34,.96);
      ._watcher-view & {
        transform: translateY(0);
        transition-delay: calc(0.15s + var(--index) * .03s);
      }
    }
  }
}

.hero-sects {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  @include adaptiveValue("padding-top", 180, 100);
  @include adaptiveValue("padding-bottom", 100, 50);
}


.select {
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
		@media (min-width:$mobileSmall){
			max-width: toRem(320);
		}
		@media (max-width:$mobileSmall){
			 max-width: 100%; 
		}
	}
	// .select__title
	&__title {
    position: relative;
		text-align: left;
		cursor: pointer;
		width: 100%;
		border-radius: toRem(5);
    @extend %backgroundColor-43-B8-075;
    &::before {
      content:'';
      position: absolute;
      top: 50%;
      // right: toRem(30);
      transform: translate(0,-50%);
      transform-origin: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      width: toRem(19);
      aspect-ratio: 19/10;
      transition: transform .3s ease;
      @include adaptiveValue("right", 30, 10,0,1920.98,768.98);
      @media (max-width:$mobileSmall){
         right: toRem(20) !important; 
      }
      .dark & {
        background-image:url("../img/icons/arr-dwn-light.svg");
      }
      .light & {
        background-image:url("../img/icons/arr-dwn-dark.svg");
      }

      ._select-open & {
        transform: translate(0,-50%) rotate(180deg);
      }
    }
		@media (min-width:$tablet){
      padding: toRem(15) toRem(40);
		}
		@media (max-width:$tablet) and (min-width: $mobileSmall) {
      padding: toRem(15) toRem(20);
		}
		@media (max-width:$mobileSmall){
      padding: toRem(10) toRem(20);
		}
    
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: toRem(30);
		padding: 0 toRem(15);
		gap: toRem(10);
		> * {
			flex: 1 1 auto;
		}
		// &:after {
		// 	content: "V";
		// 	align-self: stretch;
		// 	flex: 0 0 10px;
		// 	transition: all 0.3s ease 0s;
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	color: rgba(255, 255, 255, 0.7);
		// 	// background-color: white;
		// 	._select-open & {
		// 		transform: rotate(-180deg);
		// 	}
		// }
		// &._select-pseudo-label {
		// 	&::before {
		// 		content: "&#9660;";
		// 		opacity: 1;
		// 	}
		// }
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include adaptiveValue("font-size", 22, 18);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
    @extend %colorThemeFFF-1C1C;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
    outline: none;
    &::placeholder {
      transition: opacity 0.3s;
  
      @include adaptiveValue("font-size", 18, 14);
      font-weight: 400;
      line-height: normal;
      @extend %colorThemeFFF-1C1C;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    &:focus {
      border-bottom: toRem(1) solid rgb(255, 255, 255, 0.5);
    }
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: calc(100% - toRem(1));
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		padding: 10px 0px 5px 0px;
		border: unset;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару

		&::-webkit-scrollbar {
			width: toRem(10);               /* ширина всей полосы прокрутки */
		}
		
		&::-webkit-scrollbar-track {
			background: $mainColor;        /* цвет зоны отслеживания */
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: $gray-434343;    /* цвет бегунка */
			border-radius: 20px;       /* округлось бегунка */
		}

		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;
		@include adaptiveValue("font-size", 20, 12);
		text-transform: uppercase;
		font-weight: 400;
		line-height: 1.2;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(1));
			border: 1px solid #d9d9d9;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			padding: 5px 0px 10px 0px;
		}
	}

	// Стан селекту
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
