body {
  background-color: $gray-1C1C1C;
	color: $mainColor;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 3px;
  }
}
html.dark body {
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  background-color: $gray-1C1C1C;
	color: $mainColor;
}
html.light body {
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	background-color: $light-EE;
	color: $gray-1C1C1C;
}

[class*="__container"] {
    width: 100%;
    margin-inline: auto;
    padding-inline: toRem(15);
    @include adaptiveValue("max-width", 1780, 1255,0,1920.98,1440.98);
  }

  .ibg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &--top {
      object-position: top;
    }
    &--bottom {
      object-position: bottom;
    }
    &--left {
      object-position: left;
    }
    &--right {
      object-position: right;
    }
    &--contain {
      object-fit: contain;
    }
  }
  
  // Шаблони (заготівлі)
  // @extend %ім'я шаблону;
  // Сніппет (SCSS): ex
  
  // Лічильник для списку
  %listCounter {
    list-style-type: none;
    counter-reset: item;
    li {
      position: relative;
      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  // Адаптивне відео
  %responsiveVideo {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    video,
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  // Відео як фон
  %videoBackground {
    video,
    iframe,
    object,
    embed {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
    }
  }
  // Сірий фільтр
  %grayfilter {
    transition: all 0.3s ease 0s;
    filter: grayscale(1);
    @media (any-hover: hover) {
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  // Скасувати виділення
  %noselect {
    user-select: none;
  }
  // Дзеркальне відображення
  %mirror {
    transform: scale(-1, 1);
  }
  // Плавний скролл
  %smoothscroll {
    -webkit-overflow-scrolling: touch;
  }
  // Сховати скролл
  %hidescroll {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  

// == COLOR ================
%colorThemeFFF-1C1C {
  .dark & {
    color: #fff;
  }
  .light & {
    color: $gray-1C1C1C;
  }
}
%colorThemeB8-1C1C {
  .dark & {
    color: $mainColor;
  }
  .light & {
    color: $gray-1C1C1C;
  }
}
%colorThemeFFF-5959 {
  .dark & {
    color: #fff;
  }
  .light & {
    color: $gray-59;
  }
}

// == BORDER COLOR ====================
%borderColor-FFF-1C1C {
  .dark & {
    border-color: #fff;
  }
  .light & {
    border-color: $gray-1C1C1C;
  }
}
%borderColor-FFF-1C1C-075 {
  .dark & {
    border-color: rgba(255, 255, 255, 0.75);
  }
  .light & {
    border-color: rgb(28, 28, 28, 0.75);
  }
}


// == BACKGROUND COLOR =====================
%backgroundColor-FFF-1C1C {
  .dark & {
    background-color: #fff;
  }
  .light & {
    background-color: $gray-1C1C1C;
  }
}
%backgroundColor-1C1C-EE {
  .dark & {
    background-color: $gray-1C1C1C;
  }
  .light & {
    background-color: $light-EE;
  }
}
%backgroundColor-1C1C-B8 {
  .dark & {
    background-color: $gray-1C1C1C;
  }
  .light & {
    background-color: $mainColor;
  }
}
%backgroundColor-43-B8 {
  .dark & {
    background-color: $gray-434343;
  }
  .light & {
    background-color: $mainColor;
  }
}

%backgroundColor-43-B8-075 {
  .dark & {
    background-color: rgb(67, 67, 67, 0.75);
  }
  .light & {
    background-color: rgb(184, 184, 184, 0.75);
  }
}


%hoverUnderline {
  position: relative;
  &::before {
    content:'';
    position: absolute;
    bottom: toRem(-4);
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: toRem(2);
    transition: width .45s ease;
    .dark & {
      background-color: #fff;
    }
    .light & {
      background-color: $gray-1C1C1C;
    }
  }
  @media (any-hover: hover){
    &:hover{
      &::before {
        width: 100%;
      }
    }
  }
}

%transionColor {
  transition: color .3s ease;
}

%animOpacity {
  opacity: 0;
  ._watcher-view & {
    opacity: 1;
    transition: opacity 1.3s ease;
  } 
}

%borderRadius15-10 {
  @include adaptiveValue("border-radius", 15, 10,0,1920.98,480.98);
}

%notLastMb-22-10 {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 22, 10,0,1920.98,480.98);
  }
}


%titleCommon {
  color: #FFF;
  font-family: "Benzin";
  font-style: normal;
  font-weight: 600;
  line-height: 1.13;
  text-transform: uppercase;
  position: relative;
  @include adaptiveValue("font-size", 48,33,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 33,26,3,1440.98,480.98);
  @media (max-width: toEm(375.98)){
      font-size: toRem(22) !important;
  }
}

%margB-75-40 {
  @include adaptiveValue("margin-bottom", 75, 40);
}

.title-hero {
  @extend %titleCommon;
  @extend %colorThemeFFF-1C1C;
  @extend %transionColor;
  @extend %margB-75-40;
  .clr-red {
    color: $red;
  }
  &.split-words {
    .word {
      overflow: hidden;
    }
    .word-span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform .8s cubic-bezier(.22,.89,.34,.96);
      .loaded & {
        transform: translateY(0);
        transition-delay: calc(0.15s + var(--index) * .03s);
      }
    }
  }
}

.title-second {
  @extend %titleCommon;
  @extend %margB-75-40;
  // .title-second__wrapper
  &__wrapper {
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s  cubic-bezier(.2,1.11,.39,1.01) 0s;
    background-attachment: scroll; 

    .dark & {
      -webkit-text-fill-color: rgba(250, 250, 250, 0.08);
      background-image: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(227,30,36,1) 68%);
    }
    .light & {
      -webkit-text-fill-color: rgb(0, 0, 0, 0.08);
      background-image: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(227,30,36,1) 68%);
    }
  }
}

.txt-big {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.12px;
  @include adaptiveValue("font-size", 32, 18);
  span {
    font-weight: 700;
  }
}
.txt-sm {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
  @include adaptiveValue("font-size", 20, 14);
}

.txt-72 {
  font-weight: 600;
  font-family: "Benzin";
  line-height: 1.2;
  @include adaptiveValue("font-size", 72, 30);
}

.txt-norm {
  line-height: 1.2;
  @include adaptiveValue("font-size", 22, 14);
}

.txt-red {
  color: $red !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.btn {
  position: relative;
  overflow: hidden;

  width: fit-content;

  border-radius: 56px;
  border: toRem(1) solid $red;
  background: #FFF;
  box-shadow: -3px 4px 0px 0px $red inset;
  
  text-align: center;
  display: grid;
  place-items: center;
  
  color: #1C1C1C;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  
  transition: color .3s ease;
  @include adaptiveValue("font-size", 20, 14);
 
  @include adaptiveValue("padding-top", 30, 22);
  @include adaptiveValue("padding-bottom", 30, 22);
  @include adaptiveValue("padding-inline", 43, 20);
  span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: -20%;
    height: 100%;
    width: 0%;
    background-color: $red;
    opacity: .9;
    transition: width .45s ease;
    border-radius: 56px;
  }
  &:hover {
    color: white;
    &::before {
      width: 120%;
    }
  }

}


.padding-section {
  @include adaptiveValue("padding-top", 100, 60);
  @include adaptiveValue("padding-bottom", 100, 60);
}


.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
}

%animWatcherSplitSpan {
  &.split-words {
    .word {
      overflow: hidden;
    }
    .word-span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform 1s cubic-bezier(.22,.89,.34,.96);
      ._watcher-view & {
        transform: translateY(0);
        transition-delay: calc(0.15s + var(--index) * .03s);
      }
    }
  }
}

.hero-sects {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  @include adaptiveValue("padding-top", 180, 100);
  @include adaptiveValue("padding-bottom", 100, 50);
}