

.footer {
  background-color: rgb(67, 67, 67, 0.35);
  // .footer__container
  &__container {
  }
  // .footer__head
  &__head {
    display: grid;
    gap: toRem(30);
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 75, 30);
    @media (min-width:toEm(1200.98)){
      grid-template-columns: minmax(200px, 450px) minmax(700px, 1fr)  minmax(200px, 450px);
    }
  }
  // .footer__logo
  &__logo {
    @extend %animOpacity;
    img {
			height: auto;
			@include adaptiveValue("width", 207, 170);
		}
  }
	// .footer__block
	&__block {
    display: grid;
    column-gap: 60px;
    @media (min-width:toEm(600.98)){
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: toEm(600.98)){
        row-gap: toRem(30);
    }
	}
  // .footer__address
  &__address {
    @extend %animOpacity;
    &:nth-child(1) {
      transition-delay: 0.15s;
    }
    &:nth-child(2) {
      transition-delay: 0.3s; 
    }
  }
  // .footer__title
  &__title {
    font-weight: 600;
    @extend %colorThemeFFF-1C1C;
    @include adaptiveValue("font-size", 22, 16);
    @include adaptiveValue("margin-bottom", 50, 10,0,1920,600);
  }
  // .footer__list
  &__list {
  }
  // .footer__item
  &__item {
    font-weight: 500;
    line-height: 1.5;
    opacity: .8;
    @include adaptiveValue("font-size", 18, 16);
  }
  // .footer__link
  &__link {
    display: inline-block;
  }
  // .footer__name
  &__name {
  }
  // .footer__name-txt
  &__name-txt {
    @extend %animOpacity;
    transition-delay: 0.45s;
    @extend %colorThemeFFF-1C1C;
  }
  // .footer__bottom
  &__bottom {
    @extend %backgroundColor-1C1C-B8;
  }
  // .footer__copy
  &__copy {
    padding: toRem(20) 0;
    text-align: center;
    color: $red;
    @include adaptiveValue("font-size", 18, 12);
    font-weight: 500;
    line-height: normal;

    @extend %animOpacity;
    transition-delay: 0.6s;
  }
}
